<tr>
  <td><%= book.id %></td>
  <td><%= image(book) %></td>
  <td><%= book.name %></td>
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.desc %></td>
  <td><%= book.link %></td>
</tr>