<tr>
  <td><%= book.id %></td>
  <td><%= link_to image(book), book %></td>
  <td><%= book.name %></td>
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.desc %></td>
  <td><%= book.link %></td>
</tr>